// login(){
//   this.http.get<any>("http://localhost:3000/signupUsers")
//   .subscribe(res=>{
//     const user = res.find((a:any)=>{
//       console.log(user)
//       return a.email === this.loginForm.value.email && a.password === this.loginForm.value.password

//     });
//     if(user){
//       alert("login successfull");
//       this.loginForm.reset();
//       this.router.navigate(['table']);
//     }
//     else{
//       alert("user not found!");
//     }
//   },err=>
//     alert("something went wrong!!")
//   )

// }
